@media  screen and (max-width:1265px){
    .hero{
        &__profile{
            &-img{
                height: 200px;
                width: 200px;
            }
            &-smile{
                transform: translate(160px,-50px);
            }
        }
    }
}


@media  screen and (max-width:960px){
    .hero{
        &__profile{
            &-img{
                height: 150px;
                width: 150px;
            }

            &-smile{
                transform: translate(120px,-45px);
            }
        }
    }
}

@media  screen and (max-width:850px){
    .navbar__right-input{
        display: none;
    }

    .navbar__dvider{
        display: none;
    }
}

@media  screen and (max-width:610px){
    .header__end{
        &-stars{
            display: none;
        }
    }
}

@media  screen and (max-width:520px){
    .header__end-packages{
        display: none;
    }

    .navbar__plus{
        display: none;
    }
}


@media  screen and (max-width:800px){
    .hero{
        display: flex;
        flex-direction: column;

        &__profile{
            margin: 40px 10px 0 20px;

            &-view{
                display: flex;
            }

            &-names{
                margin: 50px 0 0 20px;
            }

            button{
                width: 100%;
            }

            &-smile{
                transform: translate(120px,-45px);
            }
        }

        &__container-first{
            margin-left: 20px;
        }

        &__repo-first{
            margin-left: 20px;

            
        }

        &__repo-container{
            margin-left: 20px;
            grid-template-columns: repeat(1,1fr);
        }
    }


}